@model WebApp.ViewModels.Rates.RatesViewModel
<main>
    <section class="row">
        <h1>Current Rates</h1>
    </section>
    <section class="row">
        The following current rates are available on: @Model.Date
    </section>
</main>