<main>
    <section class="row">
        <h1>Sorry</h1>
    </section>
    <section class="row justify-content-center">
        <div class="card col-sm-8">
            <div class="card-body  text-center">
                Sorry an error happened during the page load.<br />
                Please try to reload the page or go the home page.<br />
                <br/>
                <a class="btn btn-primary" href="@Url.Action("Index", "Home")" role="button">Home</a>
            </div>
        </div>
    </section>
</main>

